.header {
    background-color: #4776b4;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 30px;
    z-index: 100;
    padding: 20px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__link {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.header__link:hover {
    color: yellow;
}

.header__logo {
    width: 60px;
    object-fit: contain;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 6px;
}

@media only screen and (max-width: 400px) {
    
}